@import "tailwindcss";

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #333333;
  --dark-gray: #333333;

  /* Brand */
  --primary: #9e005d;
  --primary-foreground: #ffffff;

  /* Dark */
  --dark: #000000;
  --dark-foreground: #ffffff;

  /* Section */
  --section: #f2ebdf;

  /* Accents */
  --accent-orange: #faaf3a;
  --accent-blue: #bbf0ff;
  --accent-pink: #ffdae8;

  /* UI */
  --border: #e5e5e5;
}

@theme inline {
  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-gray: var(--dark-gray);

  /* Brand */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Dark */
  --color-dark: var(--dark);
  --color-dark-foreground: var(--dark-foreground);

  /* Sections */
  --color-section: var(--section);

  /* Accents */
  --color-accent-orange: var(--accent-orange);
  --color-accent-blue: var(--accent-blue);
  --color-accent-pink: var(--accent-pink);

  /* UI */
  --color-border: var(--border);

  /* Fonts */
  --font-fredoka: var(--font-fredoka);
  --font-manrope: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

/* Swiper pagination button styles */
.swiper-pagination-bullet {
  background: #000000 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000000 !important;
  opacity: 1;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 35px;
}
